html {
    text-align: center;
    font-size: 10px;
}
h1 {
    font-size: 5rem;
    color: bisque;
    margin-bottom: 0;
}
h2 {
    margin-top: 0;
    font-size: 2rem;
    color: bisque;
}

body {
    background-color: darkviolet;
}

#calculatorContainer {
    margin: 2rem auto;
    border-radius: 15px;
    box-shadow: 10px 10px;
    width: 30%;
    background-color: bisque; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "afficher afficher"
    "number calcul"
    "number calcul"
    "number calcul"
    "number calcul";
 
}
#afficher {
    margin: 1rem 1rem;
    border: solid 3px black;
    padding: 1rem 1rem;
    grid-area: afficher;
    font-size: 3rem;
    text-align: right;
    white-space: pre;
    border-radius: 10px;
}

#number {
  grid-area: number;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0.5rem;

}

#number div {
    border: black solid 2px;
    margin: 3px;
    padding: 4px;
    font-size: 3rem;
    justify-self: stretch;
    align-self: center;
    cursor: pointer;
    border-radius: 10px;
}


#calcul {
    grid-area: calcul;
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0.5rem;
}

#calcul div {
    border: black solid 2px;
    margin: 3px;
    padding: 4px;
    font-size: 3rem;
    justify-self: stretch;
    align-self: center;
    cursor: pointer;
    border-radius: 10px;

}

.importantCalcul {
    background-color: darkslategray;
    grid-column: 1/3;
}

#numberZERO {
    grid-column: 1/4 ;
}
